.box{
    display: inline-block;
    background-color: #3A4042;
    text-align: center;
    padding: 42px 44px;
    box-shadow: 10px 10px 0px #000000;
    margin-top: 100px;
    margin-bottom: 40px;
}

.box h1{
    margin-bottom: 28px;
}